body {
  text-align: center;
  background: #D74E4E;
  color: #c4d0c9;
}

/* index.html */
#signOut {
  margin-bottom: 10px;
  background-color: #c4d0c9;
  color: #D74E4E;
  border-radius: 8px;
  border: none;
  font-size: 50px;
}

#welcome {
  margin-bottom: 10px;
  font-size: 100px;
}

#newItem {
  width: auto;
  height: auto;
  font-size: 100px;
  color: #D74E4E;
  background-color: #c4d0c9;
  margin-right: 20px;
  margin-top: 20px;

  border: none;
  margin-bottom: 10px;
  width: 800px;
}

#add {
  width: auto;
  height: auto;
  font-size: 100px;
  background-color: #c4d0c9;
  color: #D74E4E;
  border-radius: 20px;
  border: none;
}

.list {
  display: inline-block;
  text-align: left;
}

/* login.html */
.lHeader, .rHeader {
  margin-top: 0px;
  font-size: 200px;
  margin-bottom: 5px;
}

#lButton, #rButton {
  background-color: #c4d0c9;
  color: #D74E4E;
  border-radius: 20px;
  border: none;
  font-size: 100px;
}

#registerButton, #loginButton {
  color: #c4d0c9;
  font-size: 80px;
}

#lEmail, #lPassword, #rEmail, #rPassword {
  width: auto;
  height: auto;
  font-size: 100px;
  color: #D74E4E;
  background-color: #c4d0c9;
  margin-bottom: 10px;
  width: 800px;
}
